body{
    background: white;

}

aside{
    float:left;
    background: #3f428b;
    width:20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #3f428b;

}

aside img {
    width: 95px;
    float: left;
}

aside .logo {
    font-size:30px;
    margin-left:10px;
    font-weight: bold;
}